%br
%br
%br
%br
.row
  .col-md-6
    .vid.golge
      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/oNmXH2uN0Do"}
  .col-md-6
    %h1 Nedir Bu Zincir?
    %p Hedefini belirle. O hedefe ulaşmak için her gün bir şey yap. Yaptıktan sonra da önüne bir takvim al ve o günün üstüne kocaman bir çarpı koy. Her gün bu işlemi tekrarla. Takvimini çarpılarla doldur. Yan yana gelen bu çarpılardan bir zincir oluştur. Yeni amacın bu zinciri kırmamak!
