#cal-heatmap
%br
#onClick-placeholder

:javascript
  var data = #{@data};

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#cal-heatmap",
    domain: "year",
    subDomain: "day",
    cellSize: 19,
    start: new Date(2017, 0),
    range: 1,
    data: data,
    legendColors: {
  		min: "#efefef",
  		max: "steelblue"
  	},
    legendVerticalPosition: "bottom",
    legendHorizontalPosition: "right",
    onClick: function(date, nb) {
  		$("#onClick-placeholder").html("You just clicked <br/>on <b>" +
  			date + "</b> <br/>with <b>" +
  			(nb === null ? "unknown" : nb) + "</b> items"
  		);
  	},
    legend: [10,20,30,40,50,60,70,80,90,100]
  });
