@import "bootstrap-sprockets"
@import "bootstrap"
@import "semantic-ui"

$import-google-fonts: true !default
$font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin'
$font-name: 'Lato' !default
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default
.ui.blue.button
  background-color: #3498db
body
  background-color: #ecf0f1
.bosluk
  height: 90px
.navbar-default
  border-radius: 0px
  left: 0px
  right: 0px
.golge
  box-shadow: 0px 0px 10px 2px rgba(81, 81, 81, 0.5)
.vid
  position: relative
  padding-bottom: 56.25%
  padding-top: 60px
  overflow: hidden
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
$bgDefault   : #3498db
$bgHighlight : #2980b9
$colDefault  : #ecf0f1
$colHighlight: #2c3e50
.navbar-default
  background-color: $bgDefault
  border-color: $bgHighlight
  .navbar-brand
    color: $colDefault
    &:hover, &:focus
      color: $colHighlight
  .navbar-text
    color: $colDefault
  .navbar-nav
    > li
      > a
        color: $colDefault
        &:hover,  &:focus
          color: $colHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
    > .open
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
  .navbar-toggle
    border-color: $bgHighlight
    &:hover, &:focus
      background-color: $bgHighlight
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
  .navbar-form
    border-color: $colDefault
  .navbar-link
    color: $colDefault
    &:hover
      color: $colHighlight
@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $colHighlight
    > .active
      > a, > a:hover, > a:focus,
        color: $colHighlight
        background-color: $bgHighlight
.ui.secondary.segment
  background-color: #fff
.ui.inverted.blue.segment
  background-color: #3498db
