%html
  %head
    %title Zinciri Kırma
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} Zinciri Kırma
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => chains_path} Zincirler
            %li
              %a{:href => new_chain_path} Yeni Zincir
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Alperen Bozkurt
            %li
              %a{:href => "#"} Çıkış
    -flash.each do |name, msg|
      =content_tag :div, msg, class: name
    = yield
